<footer>
    <div class="container p-3">
      <div class="row justify-content-between">
        <div class="col-2"><img class="logo-foot" src="img/logo.png" alt="logo la flor azul"></div>
        <div class="col-2">          
            <a class="red-foot" href="#"><img src="img/facebook.svg" alt="Facebook Logo"></a>
            <a class="red-foot" href="#"><img src="img/twitter.svg" alt="Twitter Logo"></a>          
            <a class="red-foot" href="#"><img src="img/instagram.svg" alt="Instagram Logo"></a>                 
        </div>        
      </div>
    </div>
  </footer>