<header>
    <div class="container col-sm-12 col-md-6 col-lg-4 mt-3 mb-5">
      <img class="logo-head" src="img/Frame 3.png" alt="La flor azul logo">
    </div>
    <nav> <!-- nav enchulada. no digan como programo        -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-start">
            <a href="/clasicos">
              <div class="box text-wrap color-b">
                <h1 class="title-box">clásicos</h1>
                <p>Relatos clásicos seguidos de un análisis posterior, pues como ha dicho Borges: “Prologar cuentos no leídos aún es tarea casi imposible, ya que exige el análisis de tramas que no conviene anticipar.”</p>
              </div>
            </a> 
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">
            <a href="/ruleta">
              <div class="box text-wrap color-o">
                <h1 class="title-box">ruleta</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quae voluptatem hic reprehenderit magni dolore sed voluptate illum fugiat molestias!</p>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 d-flex">
            <a href="/contemporaneos">
              <div class="box text-wrap color-y">
                <h1 class="title-box">contemporáneos</h1>
                <p>Autores consagrados, del momento y novedades que asoman con potencia al mundo de las letras</p>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-start">
            <a href="#">
              <div class="box text-wrap color-yw">
                <h1 class="title-box">notas</h1>
                <p>No sólo de ficción está hecha la literatura. En ella habitan las lecturas e interpretaciones, curiosidades y anécdotas que alimentan la materia literaria. </p>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center align-items-end">
            <a href="#">
              <div class="box text-wrap color-b">
                <h1 class="title-box">epístolas</h1>
                <p>A través de cartas, numerosos autores nos han dejado opiniones y valiosos puntos de vista sobre diversos temas literarios. En esta sección encontrarás algunas de ellas.</p>
              </div>          
            </a>          
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-end">
            <a href="#">
              <div class="box color-o">
                <h1 class="title-box">quiénes somos</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum maiores, modi quam voluptatibus molestiae temporibus.</p>
              </div>
            </a>  
          </div>        
        </div>
      </div>
  </nav>
</header>