<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/meta')%>
  </head>
  <body>
    <%- include('./partials/home_content')%>

    <%- include('./partials/footer')%>
    
  </body>
</html>
